body{
	
	background: url("image/sao.jpg") no-repeat center fixed;
	margin:0;
	padding: 0;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	
}

#test{
	color:white;
        font: 13px Lobster,Arial,sans-serif;
       
}

section {
	
	margin-left: 50px;
	margin-right: 50px;
	opacity: 1;
	border-width: 5px;
	//font-size: 12px;
	margin-top: 10px;
	color: white;
	margin-bottom:10px;       
        font: 13px Lobster,Arial,sans-serif;
}

section div#slider{

	margin: auto;
	padding: 0;
	position : relative;
}

/* Carousel */

* {box-sizing:border-box}
/* body {font-family: Verdana,sans-serif;} */
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Caption text */
.text {
  color: #010101;
 // font-size: 13px;
 font: 13px Lobster,Arial,sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #010101;
  //font-size: 13px;
  font: 13px Lobster,Arial,sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    //  font-size: 15px;
      font: 15px Lobster,Arial,sans-serif;
  }
}

/* text transparent */

div.transbox {
 
	min-height: 700px; /* Taille Minimun de la zone de texte */ /* le pourcentage ne marche pas sur firefox */
	margin: 3px;
	background-color: #ffffff;
	border: 1px solid;
	opacity: 0.9;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  
}

div.transbox p {

	margin: 5%;
	font-weight: bold;
	color: #000000;

}

/* Menu saisie */
input[type=text], select, textarea {

	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
       
        background-color: #f0f0f0;
        color: #5d5d5d;
        font: 14px/1 Lobster,Arial,sans-serif;
}

input[type=submit] {

	width: 90%;
	//background-color: #333;
	//color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
        
        font: 20px/1 Lobster,Arial,sans-serif;
        color: #5d5d5d;
       
        background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
        
        
}

div {

	border-radius: 5px;
	background-color: transparent;
	padding: 20px;
	color: white;
        //color: #5d5d5d;
	text-align: center;
	//font-size:12px;
        font: 13px Lobster,Arial,sans-serif;
	
}

/* Bouton de Modification d'anime */

#Modifier, #Annuler{

	border-radius: 2px;
	//background-color: #333;
	padding: 20px;
	//color: white;
        color: #5d5d5d;
	width: 40%;
	border-radius : 5px 5px 5px 5px;
	
}

table#dernier{

	border-collapse: collapse;
	width: 100%;
	//font-size:12px;
        font: 13px Lobster,Arial,sans-serif;
}

th{

	text-align: left;
	padding: 8px;
	//font-size:12px;
        font: 13px Lobster,Arial,sans-serif;
}

tr:nth-child(even){background-color: #f2f2f2}

/* Le bouton retour en haut */

#le_bouton {
	
	height: 130px;
	position: fixed;
	bottom: 0px;
	right: 53px;
	
}

/* Pagination */ 

.pagination a {
	color: black;
	float: center;
	
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


/* Responsive design */

@media screen and (max-width: 1000px) {

section{
	margin-left: 10px;
	margin-right: 10px;
}
	
table#dernier{
    border-collapse: collapse;
	margin-left: 10px;
	margin-right: 10px;
}

th{
    text-align: left;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

textarea{
	width: 70%;
}	
}

/* Responsive design pour un 15pouce */

@media screen and (max-width: 1500px) {

section {
//font-size: 12px;
font: 13px Lobster,Arial,sans-serif;
margin-left: 50px;
margin-right: 50px;
}

ul{
font-size: 13px;
}

table#dernier{
//font-size:12px;
font: 13px Lobster,Arial,sans-serif;
}

th{
//font-size:12px;
font: 13px Lobster,Arial,sans-serif;
}

}

#footer{

	background-color: #f0f0f0;
        bottom: 0;
	height: 10px;
	text-align : center;
	border: 1px solid white;
        font: 20px/1 Lobster,Arial,sans-serif;
        color: #5d5d5d;
        
        background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

	border-right: 1px solid rgba(9, 9, 9, 0.125);
	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
        
//	position:relative;
//	float: left;
//	list-style: none;
//	display: inline-block;

}

/* Menu */

.fancyNav{
	/* Affects the UL element */
	overflow: visible;
	display: inline-block;
}

.fancyNav li{
	/* Specifying a fallback color and we define CSS3 gradients for the major browsers: */
	
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	
	/* Adding a 1px inset highlight for a more polished efect: */
	
	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	position:relative;
	
	float: left;
	list-style: none;
	display: inline-block;
}

.fancyNav li:after{ /* prob */

	/* This creates a pseudo element inslide each LI */	
	
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
        width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
	
	/* Gradients! */
	
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
	background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	
	/* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */
	
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	/* This will create a smooth transition for the opacity property */
	
	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
	border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
	border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	
	border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
	/* This property triggers the CSS3 transition */
	opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
	/* Hides the targeted li when we are hovering on the UL */
	opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
	opacity:1 !important;
}

/* Styling the anchor elements */

.fancyNav li a{
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
}

.fancyNav .homeIcon{
	background:url('../img/home.png') no-repeat center center;
	display: block;
	overflow: hidden;
	padding-left: 12px;
	padding-right: 12px;
	text-indent: -9999px;
	width: 16px;
}

/* Paramete sous menu */ 
#tests, #tests ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#tests {
/* on centre le menu dans la page */
    text-align: center;
}
#tests li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#tests ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#tests a {
    text-decoration: none;
    display: block;
}
#tests ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#tests li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#FormRecherche{
	
width:350px; 
float: left; 
margin-top: 3px;

}
